.popular
	&__item
		position relative
		display flex
		align-items flex-end
		overflow hidden
		background-size cover
		background-position center
		background-repeat no-repeat

		&::before
			content ''
			position absolute
			width 100%
			height 100%
			bottom 0
			left 0
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.75%, rgba(0, 0, 0, 0.72) 100%)


		&-info
			position relative
			z-index 1
			color #fff