<template lang="pug">
section.favorites
  //- NotFound(pageInfo="favorites")
  Catalog
</template>

<script setup>
// import NotFound from '@/components/NotFound.vue'
import Catalog from '@/components/Catalog.vue'
</script>