<template>
<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 1L13 13" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 13L13 1.00002" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</template>