<template>
<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.23732 9.51926C4.7612 7.69228 5.85002 6.07804 7.34772 4.9079C8.84542 3.73777 10.6751 3.07181 12.5746 3.00548C14.474 2.93915 16.3457 3.47585 17.9214 4.53866C19.4971 5.60147 20.6959 7.13583 21.3459 8.92182" stroke="#06CC79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.1808 15.4987C20.5037 17.1033 19.3757 18.477 17.9334 19.4532C16.4912 20.4294 14.7967 20.9662 13.0554 20.9985C11.3142 21.0307 9.60093 20.5571 8.1235 19.635C6.64608 18.7129 5.46792 17.382 4.7319 15.8036" stroke="#06CC79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.71387 14.9355L4.14692 15.3162L2.91127 17.5982" stroke="#06CC79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19.1328 9.72949L21.6998 9.34884L22.9354 7.06688" stroke="#06CC79" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</template>