.banner
  pos relative
  background-color #fff
  padding 56px 0
  overflow hidden

  &__inner
    pos relative
    z-index 2

  &__img
    pos absolute
    top 0
    right 0
    max-width 640px
    width 100%
    height 100%
    object-fit cover

  &__form
    display flex
    align-items center
    margin-top 48px

  .form__label
    margin-right 32px