.card
  pos relative
  width 100%
  height 404px
  border-radius var(--radius-def)
  overflow hidden
  background-color #fff
  margin-bottom 32px

  &__img
    width 100%
    height 236px
    object-fit cover
    object-position center

  &__alert
    pos absolute
    top 24px
    left 24px
    padding 8px 12px
    border-radius var(--radius-8)
    background-color $green
    color #fff

  &__box
    padding var(--offset-mid)
     