.slider
  &__show
    position relative
    margin-bottom 32px
    overflow hidden
    border-radius: 20px
    height 552px

    &-item
      width 100%
      height 0
      opacity 0
      transition height .3s, opacity .3s

      &.show 
        height 100%
        opacity 1

    &-img
      width 100%
      height 100%
      object-fit cover

  &__close
    position absolute
    top 32px
    right 64px
    display none
    .icon
      path 
        stroke #ffffff

  &__resize
    display flex
    align-items center
    justify-content center
    position absolute
    bottom 24px
    right 24px
    width 48px
    height 48px
    background-color $gray
    border-radius var(--radius-12)

  &__swiper
    overflow hidden
    position relative

  .slider__slide
    border-radius var(--radius-12)
    overflow  hidden

  .hidden
    .slider__slide
      height vw(152) !important

  &__img
    width 100%
    height 100%
    object-fit cover

  .swiper-button-next, 
  .swiper-button-prev
    width 48px
    height 48px
    background-color $gray
    border-radius var(--radius-12)
    transition opacity .3s

    &::before
      content ''
      width 24px
      height 24px
      background-position center
      background-repeat no-repeat
      background-size contain

    &::after
      display none

		&.swiper-button-disabled
			opacity 0

	.swiper-button-prev::before
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.7168 5L2.99972 12L9.7168 19' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='1' y1='-1' x2='16.7331' y2='-1' transform='matrix(1 0 0 -1 3.26758 11.0317)' stroke='%23222222' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");

	.swiper-button-next::before
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2832 5L21.0003 12L14.2832 19' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='19.7324' y1='12.0317' x2='3.99936' y2='12.0317' stroke='%23222222' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      

body.open
  overflow-y:hidden;
  
  .slider
    position fixed
    padding 104px 64px
    left 0
    bottom 0
    width 100%
    height 100%
    z-index 100
    margin-bottom 0

    &__bg
      position absolute
      left 0
      top 0
      height 100%
      width 100%
      background: rgba(34, 34, 34, 0.72);
      backdrop-filter: blur(24px);

    &__resize
      display none

    &__close
      display block

    &__content 
      position relative
      display flex
      justify-content space-between
      min-height 500px
      height 100%
      z-index 5

    .slider__swiper
      max-width 192px
      width 100%
      height 100%
    
    &__show
      order 1
      width 100%
      height 100%
      margin-left 32px

    .swiper-button-prev,
    .swiper-button-next
      left 50%

    .swiper-button-prev
      transform translateX(-50%) rotate(90deg)
      top 35px

    .swiper-button-next
      top auto
      bottom 24px
      transform translateX(-50%) rotate(90deg)

  .slider__slide
    height vw(149)

  .swiper-wrapper
    display flex
    flex-direction column


.booking
  .slider__show 
    height 320px