<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 8.51515L6.81446 6.81432C7.88345 5.81228 9.56234 5.86649 10.5645 6.93542V6.93542C11.6126 8.05347 13.3874 8.05347 14.4355 6.93542V6.93542C15.4377 5.86649 17.1165 5.81228 18.1855 6.81432L20 8.51515" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
<path d="M5 12.6364L6.84854 11.3368C7.97522 10.5447 9.48956 10.5916 10.565 11.452V11.452C11.6963 12.357 13.3037 12.357 14.435 11.452V11.452C15.5104 10.5916 17.0248 10.5447 18.1515 11.3368L20 12.6364" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
<path d="M5 17.5152L6.81446 15.8143C7.88345 14.8123 9.56234 14.8665 10.5645 15.9354V15.9354C11.6126 17.0535 13.3874 17.0535 14.4355 15.9354V15.9354C15.4377 14.8665 17.1165 14.8123 18.1855 15.8143L20 17.5152" stroke="#222222" stroke-width="2" stroke-linecap="round"/>
</svg>

</template>