<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 6.5H9.5L14.5 16.5H21L16 6.5Z" fill="#222222"/>
<path d="M8.5 12L6.5 16.5H10.5L8.5 12Z" fill="#222222"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.6902 6L14.1901 17H13.1036L8.69734 8.32205L4.14605 17H3.10358L8.6902 6ZM8.6902 6H16.3082L21.8082 17L14.1901 17L8.6902 6ZM10.3082 7L14.8082 16H20.1902L15.6902 7H10.3082ZM8.65435 11.1759L10.999 17H5.99902L8.65435 11.1759ZM8.65435 12.7195L7.10358 16L9.1902 16L8.65435 12.7195Z" fill="#222222"/>
</svg>

</template>