<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_601_16982)">
<path d="M3.14277 8.92887C8.11428 5.45223 14.3727 3.35963 19.1666 13.2447C12.5271 18.229 6.64051 17.7732 3.14277 8.92887Z" fill="#222222"/>
<path d="M8.84298 16.72C10.4798 17.1861 11.8475 17.3544 12.7354 17.0321L12.0013 19.6101L8.84298 16.72Z" fill="#222222"/>
<path d="M23.0037 10.4889L18.0895 13.1428L20.8362 18.1L23.0037 10.4889Z" fill="#222222"/>
<path d="M15.4858 7.37467C14.4796 6.24761 12.9616 5.72684 12.0244 5.54843L16.2316 4.7558L15.4858 7.37467Z" fill="#222222"/>
<circle cx="6.27662" cy="9.57425" r="1.02112" transform="rotate(15.8958 6.27662 9.57425)" fill="white"/>
</g>
<defs>
<clipPath id="clip0_601_16982">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>

</template>