<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.23153 6.52013C8.61085 5.82662 9.60689 5.82662 9.98621 6.52013L16.0937 17.6862C16.4582 18.3526 15.9759 19.4161 15.2163 19.4161H3.00142C2.24184 19.4161 1.75958 18.3526 2.12408 17.6862L8.23153 6.52013Z" fill="#222222"/>
<path d="M14.7275 10.5601C15.1046 9.85671 16.1131 9.85671 16.4902 10.5601L20.4486 17.9436C20.8058 18.6098 20.3232 19.4161 19.5673 19.4161H11.6505C10.8946 19.4161 10.412 18.6098 10.7691 17.9436L14.7275 10.5601Z" fill="#222222"/>
<circle cx="19" cy="6" r="2" fill="#222222"/>
</svg>

</template>