<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 7C11.5 7.5 16 9.5 17 14" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.5 5L13.8889 2.75M16.7222 6.375L18.6666 4.125M18.6666 9.1587L21.3888 8.4087" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.5 7L3 17.7714C3.3027 18.96 4.89189 19.7524 5.64865 20L17 14.5C10.6432 13.3114 9.0045 9.35238 8.5 7Z" fill="#222222" stroke="#222222" stroke-linejoin="round"/>
<path d="M5.5 9C5.875 11.8 9.2 16.22 15.5 17.5" stroke="white" stroke-width="2" stroke-linejoin="round"/>
<path d="M2.5 12.5C2.875 15.02 5.7 18.848 12 20" stroke="white" stroke-width="2" stroke-linejoin="round"/>
</svg>

</template>