html,
body
	height 100%
	font-family $inter
	font-weight 400
	font-size 14px
	line-height 14px
	color #222222
	background-color $gray

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

#app
	min-height 100%

.main
	min-height 100vh
	height 100%
	
	&.log-in
		background url('~@/assets/img/details/bg-log.jpg')
		background-size contain
		background-repeat no-repeat
		background-position right top

		&::before
			content ''
			position: absolute;
			left: 0;
			top: 0;
			// bottom: 0
			width: 624px;
			// min-height: 100vh;
			height: 100%;
			background-color: #FFFFFF;
			border-radius: 0px 32px 32px 0px;


.opacity 
	&-50 
		opacity .5
	
	&-70 
		opacity .7

	&-30
		opacity .3

.align
	&-ctr
		text-align center

.mb 
	&-4
		margin-bottom 4px

	&-8 
		margin-bottom 8px

	&-12
		margin-bottom 12px

	&-16
		margin-bottom 16px

	&-24 
		margin-bottom 24px

	&-32 
		margin-bottom 32px

	&-40
		margin-bottom 40px

	&-48
		margin-bottom 48px

.ml
	&-8 
		margin-left 8px

	&-16
		margin-left 16px

	&-24 
		margin-left 24px

	&-32 
		margin-left 32px

	&-40
		margin-left 40px

.mr
	&-8 
		margin-right 8px

	&-16
		margin-right 16px

	&-24 
		margin-right 24px

	&-32 
		margin-right 32px

	&-40
		margin-right 40px

.container
	padding 0 64px

	&-mid
		width 894px
		padding 0 15px
		margin 0 auto

.performance
	display flex
	justify-content space-between
	align-items center
	
	&__item
		width 192px
		min-height 176px
		margin-left var(--offset-up-mid)
		display flex
		justify-content center
		align-items center
		flex-direction column
		background-color #fff
		border-radius 24px

		&:first-child
			padding var(--offset-big)
			display block
			width 880px
			margin-left 0

.logo
	width 88px
	height 56px
	object-fit cover

.wrapper
	display flex

	&_v-ctr
		align-items center

	&_h-btw
		justify-content space-between	


.details
	display flex

	&__item
		margin-left var(--offset-mid)
		display flex
		align-items center

		&:first-child
			margin-left 0

	.icon
		width 16px
		height 16px
		margin-right 8px

		path
			stroke #444444

	.controls_small
		color #444444

.icon
	width 24px
	height 24px

	path,
	rect,
	circle
		stroke $black

	&_green
		path,
		rect
			stroke $green

		circle
			fill $green


.border-btm
	pos relative
	padding-bottom 25px

	&:before
		content ''
		pos absolute
		bottom 0
		left 0
		width 100%
		height 1px
		background-color #222222
		opacity 0.32

.total 
	display: flex;	
	justify-content space-between
	align-items center
	border-radius: var(--radius-8);
	padding: 8px 16px;
	background-color: #fff;
	margin-top auto


.social 
	&__item 
		display: inline-block;
		margin-left: 12px;

		&:first-child 
			margin-left: 0;

	&__btn 
		display: block;
		padding 5px
		line-height 0

	.icon 
		width: 16px;
		height: 16px;






